@theme {
  --color-*: initial;

  --color-common-white: #ffffff;
  --color-common-black: #000000;
  --color-grey-50: #f9f9fa;
  --color-grey-100: #eaebec;
  --color-grey-200: #cfd2d5;
  --color-grey-300: #b8bcc0;
  --color-grey-400: #9fa4a9;
  --color-grey-500: #888c91;
  --color-grey-600: #6a6d71;
  --color-grey-700: #4e5053;
  --color-grey-800: #333537;
  --color-grey-900: #1b1c1d;
  --color-green-50: #f6faf6;
  --color-green-100: #e0ffeb;
  --color-green-200: #7ee29f;
  --color-green-300: #4bce77;
  --color-green-400: #2abb5a;
  --color-green-500: #22a04c;
  --color-green-600: #1f8441;
  --color-green-700: #216e3b;
  --color-green-800: #174f2a;
  --color-green-900: #16281c;
  --color-yellow-50: #fff8f1;
  --color-yellow-100: #fef2e3;
  --color-yellow-200: #fde5c4;
  --color-yellow-300: #fddba9;
  --color-yellow-400: #fccd7d;
  --color-yellow-500: #fbc037;
  --color-yellow-600: #c29428;
  --color-yellow-700: #906c1b;
  --color-yellow-800: #5d450e;
  --color-yellow-900: #322304;
  --color-blue-50: #e9f2ff;
  --color-blue-100: #cce0ff;
  --color-blue-200: #84b8ff;
  --color-blue-300: #579dff;
  --color-blue-400: #388bff;
  --color-blue-500: #1d7afc;
  --color-blue-600: #0c66e4;
  --color-blue-700: #0055cc;
  --color-blue-800: #0c418d;
  --color-blue-900: #1c2b41;
  --color-red-50: #fffaf9;
  --color-red-100: #fbdfdf;
  --color-red-200: #f6babb;
  --color-red-300: #f39798;
  --color-red-400: #f16c6d;
  --color-red-500: #ee3538;
  --color-red-600: #bd282a;
  --color-red-700: #921d1e;
  --color-red-800: #661112;
  --color-red-900: #400708;
  --color-deepblue-50: #fafafb;
  --color-deepblue-100: #f7f8fa;
  --color-deepblue-200: #f5f6f8;
  --color-deepblue-300: #f4f5f7;
  --color-deepblue-400: #e1e3e6;
  --color-deepblue-500: #c8cbd1;
  --color-deepblue-600: #aeb3bb;
  --color-deepblue-700: #9298a1;
  --color-deepblue-800: #757b84;
  --color-deepblue-900: #5c616a;
  --color-violet-50: #f3f0ff;
  --color-violet-100: #dfd8fd;
  --color-violet-200: #b8acf6;
  --color-violet-300: #9f8fef;
  --color-violet-400: #8f7ee7;
  --color-violet-500: #8270db;
  --color-violet-600: #6e5dc6;
  --color-violet-700: #5e4db2;
  --color-violet-800: #42377c;
  --color-violet-900: #272339;
  --color-brand-primary-50: #f4f9fe;
  --color-brand-primary-100: #e0e9f6;
  --color-brand-primary-200: #c2d2ee;
  --color-brand-primary-300: #94a7cc;
  --color-brand-primary-400: #657599;
  --color-brand-primary-500: #2f3a56;
  --color-brand-primary-600: #222c49;
  --color-brand-primary-700: #17203d;
  --color-brand-primary-800: #0e1531;
  --color-brand-primary-900: #090e29;
  --color-white-transparent-50: #ffffffD;
  --color-white-transparent-100: #ffffff1a;
  --color-white-transparent-200: #ffffff33;
  --color-white-transparent-300: #ffffff4d;
  --color-white-transparent-400: #ffffff66;
  --color-white-transparent-500: #ffffff80;
  --color-white-transparent-600: #ffffff99;
  --color-white-transparent-700: #ffffffb2;
  --color-white-transparent-800: #ffffffcc;
  --color-white-transparent-900: #ffffffe5;
  --color-grey-transparent-50: rgba(27, 28, 29, 0.05);
  --color-grey-transparent-100: #1b1c1d1a;
  --color-grey-transparent-200: #1b1c1d33;
  --color-grey-transparent-300: #1b1c1d4d;
  --color-grey-transparent-400: #1b1c1d66;
  --color-grey-transparent-500: #1b1c1d80;
  --color-grey-transparent-600: #1b1c1d99;
  --color-grey-transparent-700: #1b1c1db2;
  --color-grey-transparent-800: #1b1c1dcc;
  --color-grey-transparent-900: #1b1c1de5;
  --color-brand-secondary-50: #fbfdfe;
  --color-brand-secondary-100: #f6fafe;
  --color-brand-secondary-200: #eef6fe;
  --color-brand-secondary-300: #e6f0fe;
  --color-brand-secondary-400: #dfebfd;
  --color-brand-secondary-500: #d5e3fc;
  --color-brand-secondary-600: #9bafd8;
  --color-brand-secondary-700: #6b80b5;
  --color-brand-secondary-800: #435792;
  --color-brand-secondary-900: #283978;
}

@layer base {
  :root {
    --common-white: #ffffff;
    --common-black: #000000;
    --grey-50: #f9f9fa;
    --grey-100: #eaebec;
    --grey-200: #cfd2d5;
    --grey-300: #b8bcc0;
    --grey-400: #9fa4a9;
    --grey-500: #888c91;
    --grey-600: #6a6d71;
    --grey-700: #4e5053;
    --grey-800: #333537;
    --grey-900: #1b1c1d;
    --green-50: #f6faf6;
    --green-100: #e0ffeb;
    --green-200: #7ee29f;
    --green-300: #4bce77;
    --green-400: #2abb5a;
    --green-500: #22a04c;
    --green-600: #1f8441;
    --green-700: #216e3b;
    --green-800: #174f2a;
    --green-900: #16281c;
    --yellow-50: #fff8f1;
    --yellow-100: #fef2e3;
    --yellow-200: #fde5c4;
    --yellow-300: #fddba9;
    --yellow-400: #fccd7d;
    --yellow-500: #fbc037;
    --yellow-600: #c29428;
    --yellow-700: #906c1b;
    --yellow-800: #5d450e;
    --yellow-900: #322304;
    --blue-50: #e9f2ff;
    --blue-100: #cce0ff;
    --blue-200: #84b8ff;
    --blue-300: #579dff;
    --blue-400: #388bff;
    --blue-500: #1d7afc;
    --blue-600: #0c66e4;
    --blue-700: #0055cc;
    --blue-800: #0c418d;
    --blue-900: #1c2b41;
    --red-50: #fffaf9;
    --red-100: #fbdfdf;
    --red-200: #f6babb;
    --red-300: #f39798;
    --red-400: #f16c6d;
    --red-500: #ee3538;
    --red-600: #bd282a;
    --red-700: #921d1e;
    --red-800: #661112;
    --red-900: #400708;
    --deepblue-50: #fafafb;
    --deepblue-100: #f7f8fa;
    --deepblue-200: #f5f6f8;
    --deepblue-300: #f4f5f7;
    --deepblue-400: #e1e3e6;
    --deepblue-500: #c8cbd1;
    --deepblue-600: #aeb3bb;
    --deepblue-700: #9298a1;
    --deepblue-800: #757b84;
    --deepblue-900: #5c616a;
    --violet-50: #f3f0ff;
    --violet-100: #dfd8fd;
    --violet-200: #b8acf6;
    --violet-300: #9f8fef;
    --violet-400: #8f7ee7;
    --violet-500: #8270db;
    --violet-600: #6e5dc6;
    --violet-700: #5e4db2;
    --violet-800: #42377c;
    --violet-900: #272339;
    --brand-primary-50: #f4f9fe;
    --brand-primary-100: #e0e9f6;
    --brand-primary-200: #c2d2ee;
    --brand-primary-300: #94a7cc;
    --brand-primary-400: #657599;
    --brand-primary-500: #2f3a56;
    --brand-primary-600: #222c49;
    --brand-primary-700: #17203d;
    --brand-primary-800: #0e1531;
    --brand-primary-900: #090e29;
    --white-transparent-50: #ffffffD;
    --white-transparent-100: #ffffff1a;
    --white-transparent-200: #ffffff33;
    --white-transparent-300: #ffffff4d;
    --white-transparent-400: #ffffff66;
    --white-transparent-500: #ffffff80;
    --white-transparent-600: #ffffff99;
    --white-transparent-700: #ffffffb2;
    --white-transparent-800: #ffffffcc;
    --white-transparent-900: #ffffffe5;
    --grey-transparent-50: rgba(27, 28, 29, 0.05);
    --grey-transparent-100: #1b1c1d1a;
    --grey-transparent-200: #1b1c1d33;
    --grey-transparent-300: #1b1c1d4d;
    --grey-transparent-400: #1b1c1d66;
    --grey-transparent-500: #1b1c1d80;
    --grey-transparent-600: #1b1c1d99;
    --grey-transparent-700: #1b1c1db2;
    --grey-transparent-800: #1b1c1dcc;
    --grey-transparent-900: #1b1c1de5;
    --brand-secondary-50: #fbfdfe;
    --brand-secondary-100: #f6fafe;
    --brand-secondary-200: #eef6fe;
    --brand-secondary-300: #e6f0fe;
    --brand-secondary-400: #dfebfd;
    --brand-secondary-500: #d5e3fc;
    --brand-secondary-600: #9bafd8;
    --brand-secondary-700: #6b80b5;
    --brand-secondary-800: #435792;
    --brand-secondary-900: #283978;
    --accent-yellow1: #fef2e3;
    --accent-yellow2: #fbc037;
    --accent-green2: #e0ffeb;
    --accent-red2: #ee3538;
    --accent-deepgrey1: #fafafb;
    --accent-green1: #f6faf6;
    --accent-violet1: #f3f0ff;
    --accent-red1: #fffaf9;
    --primary-1: #f4f9fe;
    --primary-2: #e0e9f6;
    --primary-4: #222c49;
    --primary-5: #17203d;
    --primary-6: #0e1531;
    --secondary-1: #fbfdfe;
    --secondary-3: #d5e3fc;
    --secondary-4: #9bafd8;
    --secondary-5: #6b80b5;
    --secondary-6: #435792;
    --background-inverse-1: #1b1c1d;
    --background-inverse-2: #333537;
    --background-inverse-3: #4e5053;
    --background-inverse-4: #6a6d71;
    --background-basic-1: #ffffff;
    --background-basic-2: #f9f9fa;
    --background-basic-3: #eaebec;
    --background-basic-4: #cfd2d5;
    --grey-10: #1b1c1d;
    --grey-8: #4e5053;
    --grey-7: #6a6d71;
    --grey-6: #888c91;
    --grey-0: #ffffff;
    --grey-3: #cfd2d5;
    --grey-5: #9fa4a9;
    --border-basic-1: #eaebec;
    --border-basic-2: #cfd2d5;
    --border-basic-3: #b8bcc0;
    --border-inverse-1: #333537;
    --border-inverse-2: #6a6d71;
    --border-inverse-3: #9fa4a9;
    --accent-blue1: #e9f2ff;
    --accent-blue2: #1d7afc;
    --accent-deepgrey2: #f4f5f7;
    --accent-violet2: #8270db;
    --grey-transparent-2: #1b1c1d1a;
    --white-transparent-1: #ffffffD;
    --grey-transparent-4: #1b1c1d80;
    --grey-transparent-5: #1b1c1db2;
    --grey-transparent-6: #1b1c1dcc;
    --white-transparent-5: #ffffffb2;
    --white-transparent-4: #ffffff80;
    --white-transparent-6: #ffffffcc;
    --grey-2: #eaebec;
    --border-basic-4: #9fa4a9;
    --border-inverse-4: #cfd2d5;
    --grey-1: #f9f9fa;
    --grey-4: #b8bcc0;
    --grey-transparent-1: rgba(27, 28, 29, 0.05);
    --grey-transparent-3: #1b1c1d4d;
    --white-transparent-3: #ffffff4d;
    --white-transparent-2: #ffffff1a;
    --primary-3: #2f3a56;
    --secondary-2: #eef6fe;
    --grey-9: #333537;
    --accent-green3: #22a04c;
    --accent-yellow3: #c29428;
    --accent-blue3: #0c66e4;
    --accent-red3: #bd282a;
    --accent-deepgrey3: #c8cbd1;
    --accent-violet3: #6e5dc6;
  }

  .dark {
    --accent-yellow1: #322304;
    --accent-yellow2: #fccd7d;
    --accent-green2: #2abb5a;
    --accent-red2: #f16c6d;
    --accent-deepgrey1: #5c616a;
    --accent-green1: #16281c;
    --accent-violet1: #272339;
    --accent-red1: #400708;
    --primary-1: #090e29;
    --primary-2: #0e1531;
    --primary-4: #657599;
    --primary-5: #94a7cc;
    --primary-6: #c2d2ee;
    --secondary-1: #283978;
    --secondary-3: #6b80b5;
    --secondary-4: #dfebfd;
    --secondary-5: #e6f0fe;
    --secondary-6: #eef6fe;
    --background-inverse-1: #ffffff;
    --background-inverse-2: #f9f9fa;
    --background-inverse-3: #eaebec;
    --background-inverse-4: #cfd2d5;
    --background-basic-1: #1b1c1d;
    --background-basic-2: #333537;
    --background-basic-3: #4e5053;
    --background-basic-4: #6a6d71;
    --grey-10: #f9f9fa;
    --grey-8: #cfd2d5;
    --grey-7: #b8bcc0;
    --grey-6: #9fa4a9;
    --grey-0: #000000;
    --grey-3: #4e5053;
    --grey-5: #888c91;
    --border-basic-1: #333537;
    --border-basic-2: #6a6d71;
    --border-basic-3: #9fa4a9;
    --border-inverse-1: #eaebec;
    --border-inverse-2: #cfd2d5;
    --border-inverse-3: #b8bcc0;
    --accent-blue1: #1c2b41;
    --accent-blue2: #388bff;
    --accent-deepgrey2: #aeb3bb;
    --accent-violet2: #8f7ee7;
    --grey-transparent-2: #1b1c1d4d;
    --white-transparent-1: #ffffff33;
    --grey-transparent-4: #1b1c1d99;
    --grey-transparent-5: #1b1c1dcc;
    --grey-transparent-6: #1b1c1de5;
    --white-transparent-5: #ffffffcc;
    --white-transparent-4: #ffffff99;
    --white-transparent-6: #ffffffe5;
    --grey-2: #333537;
    --border-basic-4: #cfd2d5;
    --border-inverse-4: #9fa4a9;
    --grey-1: #1b1c1d;
    --grey-4: #6a6d71;
    --grey-transparent-1: #1b1c1d33;
    --grey-transparent-3: #1b1c1d80;
    --white-transparent-3: #ffffff80;
    --white-transparent-2: #ffffff4d;
    --primary-3: #17203d;
    --secondary-2: #435792;
    --grey-9: #cfd2d5;
    --accent-green3: #2abb5a;
    --accent-yellow3: #fccd7d;
    --accent-blue3: #388bff;
    --accent-red3: #f16c6d;
    --accent-deepgrey3: #c8cbd1;
    --accent-violet3: #8f7ee7;
  }
}
